/* Rest styles for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* Page background */
body{
    background-color: #3d556c;
}

/* Main app container */
.app{
    margin: 100px auto 0;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    background-color: #fffffff5;
    border-radius: 10px;
}

/* Header Section */
.header{
    display: flex;
    justify-content: space-between;
  color: #0d253c;
   border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.header h1{
     font-size: 25px;
    font-weight: 600;
    
}

.header h2{
    font-size: 18px;
    font-weight: 600;
}

/* Start quiz button */
.startquizbtn{
    margin: 20px auto 0;
    padding: 10px;
    width: 150px;
    background-color: #072d50;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    display: block;
}

/* Quiz container */
.quiz{
    padding: 20px 0;
    display: none;
}

.quiz h2{
    color: #0d253c;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Container for answer buttons */
.answer-buttons{
    display: flex;
    flex-direction: column;

}

/* Answer button styles */
.btn{
    padding: 10px;
    margin: 10px 0;
    background-color: #fffffff5;
    border: 1px solid #222;
    border-radius: 4px;
    color: #333;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s;

}

/*Hover effect */
.btn:hover:not(:disabled){
    background-color: #042a4f;
    color: #fff;
}

.btn:hover:disabled{
    cursor: no-drop;
}

/* Answer highlight */
.correct{
    background-color: #22da84;
}

.incorrect{
    background-color: #f94141;
}

/* Next button styling */
#next-btn{
    margin: 20px auto 0;
    padding: 10px;
    width: 150px;
    background-color: #072d50;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    display: block;
}

